.project{
    text-decoration: none;
}
.project:not(:last-child){
    margin-bottom: 75px;
}
.project-description{
    display: flex;
    justify-content: space-between;
    max-width: 1266px;
}
.page-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}
.page-title{
    width:100%;
}
.page-title h1{
    margin-bottom: 25px;
}
.image-project{
    max-width: 1266px;
}
@media screen and (min-width: 1300px){
.project-description{
    margin-top: 30px;
}
.page-title, .project-container{
    width: 1266px;
}
.project-container{
    margin-bottom: 40px;
    height: 100%;
    min-height: 650px;
}
.short-description{
    max-width: 55%;
    text-align: end;
}
}
@media screen and (max-width: 1350px){
    .page-container{
        margin-left: 20px;
        margin-right: 20px;
    }
    .short-description{
        width: 41%;
    }
}
@media screen and (max-width: 1320px){
    .project-container , .page-title{
        width: 85%;
    }
}
@media screen and (max-width: 1025px){
    .page-container{
        margin-left: 20px;
        margin-right: 20px;
    }
    .short-description{
        font-size: 14px;
    }
    .project-container , .page-title{
        width: 75%;
    }
    .project-container {
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 550px){
    .project-container , .page-title{
        width: 99.9%;
    }
    .project-description{
        flex-direction: column;
    }
    .short-description{
        width: 100%;
    }
    .project-title h2{
        font-weight: normal;
    }
}